section li{
    display: inline;
}
aside {
    
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    height: 100%;
    border: 3px solid blue;
    display: flex;
   justify-content: center;
    align-items: center;
}
article{
    width: 80%;
    display:inline-block;
    border: 3px solid black;
}
main{
    position: relative;
}
